<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:text="${user.username}"></h1>
<!--<h2><a th:href="@{/logout}">Выйти из системы</a></h2>-->
<!--<div>-->
<!--    <p>Ваше имя пользователя</p>-->
<!--    <p th:text="*{user.username}"> </p>-->
<!--    <p>Ваш email</p>-->
<!--    <p th:text="*{user.email}"> </p>-->
<!--    <p>Вам лет</p>-->
<!--    <p th:text="*{user.age}"> </p>-->
<!--</div>-->
</body>
</html>